.main-content {
    padding: 0 16px;
    color: #FFF;
}

@media ( max-width: 375px) {
    .text-main1 {
        li {
            font-size: 20px;
            padding: 0;
            list-style-type: none;
            display: block;
            &:nth-child(3),
            &:nth-child(1) {
                width: 100%;
            }
        }
    }
}

*:focus {
    outline: none;
}

input,
textarea {
    border: none;
    &[type="text"] {
        border-radius: 0;
        &:focus,
        &:active {
            border: none;
        }
    }
}

.back_center {
    dd {
        margin: 0;
        padding: 0;
    }
    h5 {
        margin: 20px 0;
        background: #3e9bcf;
        padding: 10px;
        padding-left: 16px;
        border-radius: 10px;
        font-size: 24px;
        line-height: 42px;
        font-weight: 400;
    }
    table,
    tbody,
    tr,
    td {
        display: block;
    }
    td {
        margin-bottom: 18px;
        font-size: 20px;
    }
    // .isshow-que {
    //     display: none;
    // }
    .isshow-que-hide {
        display: none!important;
    }
    .wrongtip {
        color: #fff441;
    }
    input[type="text"] {
        width: 200px;
        color: #FFF;
        background: transparent;
        border-bottom: 1px solid #fff;
        /*no*/
        margin-bottom: 10px;
        /*no*/
    }
    textarea {
        display: block;
        border-radius: 0;
        width: 675px;
        height: 210px;
    }
}

.question-list {
    .title {
        margin: 20px 0;
        background: #3e9bcf;
        padding: 10px;
        border-radius: 10px;
    }
    li {
        position: relative;
    }
}

.startbtn {
    text-align: center;
    padding: 10px 0;
    a {
        // display: inline-block;
        // width: 320px;
        // height: 72px;
        // line-height: 72px;
        // background: #ff606b;
        display: block;
        width: 100%;
        height: 74px;
        background: url(../imgs/from-btn.png) no-repeat center center;
        background-size: 320px 74px;
    }
}