$jui-radio-size: 20px !default;
$jui-checkbox-size: 20px !default;
$box-size:10px;
$box-border:4px;
$jui-border-color: #c0c0c0 !default;
$jui-main-color: #f35d5d !default;
$jui-disabled-color: lighten($jui-border-color, 14%) !default;
$disabled-checked-color: lighten($jui-main-color, 30%) !default;