.banner {
    height: 595px;
    background: url(../imgs/banner.png) no-repeat center center;
    background-size: 720px 595px;
}

.show-time {
    color: #fff;
    padding: 20px 0;
    font-size: 26px;
}