.main-content {
    padding: 0 30px;
    color: #FFF;
}

.text-main1 {
    p {
        padding: 0;
        margin: 0;
    }
    .p1 {
        font-size: 26px;
        line-height: 36px;
        padding-bottom: 16px;
    }
    .tiphelp {
        display: inline-block;
        background: #fe5c3b;
        padding: 5px 10px;
        border-radius: 10px;
        /*no*/
        margin-bottom: 20px;
        font-size: 24px;
    }
    .p2 {
        padding-left: 10px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    ul {
        padding: 0 10px;
        list-style-type: none;
    }
    li {
        font-size: 20px;
        padding: 0;
        list-style-type: none;
        margin-bottom: 10px;
        float: left;
        &:nth-child(3),
        &:nth-child(1) {
            width: 260px;
        }
    }
}

@media ( max-width: 375px) {
    .text-main1 {
        li {
            font-size: 20px;
            padding: 0;
            list-style-type: none;
            display: block;
            &:nth-child(3),
            &:nth-child(1) {
                width: 100%;
            }
        }
    }
}

.user-main {
    color: #555555;
    background: #fff0bd;
    font-size: 24px;
    border-radius: 10px;
    /*no*/
    .bag {
        position: absolute;
        top: 50%;
        margin-top: -40px;
        right: 20px;
        display: block;
        width: 155px;
        height: 79px;
        background: url(../imgs/bag.png) no-repeat center center;
        background-size: cover;
    }
    p {
        margin: 0;
        padding: 10px 0;
    }
    .p1 {
        padding-left: 46px;
    }
    .user-info {
        min-height: 90px;
    }
}