// html,
body {
    margin: 0 auto;
    max-width: 720px;
    /* no */
}

body {
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // -moz-font-feature-settings: "liga", "kern";
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.m-auto {
    margin: 0 auto;
}