.sp-banner-box {
    background: #26afe6 url(../imgs/loading.svg) no-repeat center center;
    .banner-1 {
        height: 600px;
        background: url("../imgs/banner.png") no-repeat center center;
    }
    .banner-2 {
        height: 345px;
        margin-top: -277px;
        background: url("../imgs/banner2.png") no-repeat center center;
    }
}

.sp-nav-wp {
    position: relative;
    width: 940px;
    // background: red;
    a {
        display: inline-block;
        width: 146px;
        height: 146px;
        opacity: .3;
        margin-left: 34px;
        &.golink2 {
            margin-left: 22px;
        }
        &.golink3 {
            margin-left: 22px;
        }
        &.golink4 {
            margin-left: 22px;
        }
        &.golink5 {
            margin-left: 20px;
        }
    }
}