.sp-banner-box {
    background: #26afe6 url(../imgs/loading.svg) no-repeat center center;
    .banner-1 {
        height: 600px;
        background: url("../imgs/banner.png") no-repeat center center;
    }
    .banner-2 {
        height: 345px;
        margin-top: -277px;
        background: url("../imgs/banner2.png") no-repeat center center;
    }
}