.spw {
    width: 1000px;
}

.spm {
    width: 100%;
    min-width: 1000px;
}

.m-auto {
    margin: 0 auto;
}

.sp-app {
    background: #26afe6;
    .title {
        text-align: center;
    }
}
.text-c{
    text-align: center;
}
.footer{
    margin-top: 0;
}